body {
    background-color: black;
    color: rgb(255, 255, 255)
}

h2 {
    font-weight: 200;
    margin-left: 250px;
    margin-right: 150px;
  
   
}
.subtitulo{
    margin-left: 250px;
    margin-right: 150px;
    text-align: center;
}
h1{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 200px;
    color: rgb(192, 19, 19);
    font-size: 60px;
}
h3 {
    font-weight: 300;
    margin-left: 250px;
    margin-right: 250px;

}

.botones{
    text-decoration:none;
    border: 2px solid rgb(192,19,19);
    padding: 5px; 
    border-radius: 5px;
    display: inline-block;
    color: antiquewhite;
    margin-left: 100px;
    margin-right: 300px;

    
}
.botones:hover { /* pseudoclase hover se activa cuando el mouse está por encima del elemento */
    background-color: rgb(192, 19, 19);
    color: #000;
}



@keyframes logo {

    0% {
        width: 100px;
    }


    100% {
        width: 400px;
    }


}
p {
    margin-left: 200px;

}

picture {
    display: flex;
    justify-content: center;

}
picture2 {
    display: flex;
    justify-content:left ;

}
#logo {
    animation: logo 1s ease-in;
}

/* imagen */

#opciones {
    text-align: center;
    list-style: none;
}

#opciones li {
    display: inline-block;
    padding: 10px;

}

.boton {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 5px;
    display: inline-block;
}
